* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  padding: 20px;
}

h1 {
  margin: 0;
  font-family: 'Shrikhand', cursive;
  font-size: 45px;
  padding-left: 10px;
}

#page-title {
  color: rgb(247, 161, 1);
}

/* /////// LAYOUT /////// */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* /////// IMG OVERLAY /////// */
.img-container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.img-container:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.quote {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}